@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Dosis', sans-serif;
}
.todo{
    margin: 200px auto;
    width: 336px;
    height: fit-content;
    min-height: 236px;
    border: 1px solid gray;
    border-radius: 10px;
}
.headbg{
    background-color: rgb(234, 234, 13);
    width: 100%;
    height: 25px;
    border-radius: 10px 10px 0 0;
}
h2{
    margin: 10px auto;
    width: fit-content;
}
.filter, .filter-az-hover, .filter-za, .filter-za-hover{
    margin-top: 20px;
    margin-left: 290px;
    margin-bottom: 10px;
    cursor: pointer;
}
.inputdiv{
    width: 90%;
    margin: auto;
    height: 40px;
    border: 1px solid rgb(172, 168, 168);
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}
input{
    outline-style: none;
    border: none;
    height: 27px;
    margin-top: -5px;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 10px;
    font-family: 'Dosis', sans-serif;
    margin-right: 50px;
    
}
.delete, .delete-hover{
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}
.delete-hover{
    display: none;
}
button{
    width: 150px;
    height: 42px;
    margin-left:93px;
    margin-bottom: 20px;
    border: none;
    color: white;
    display: flex;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
}
.button{
    width: 100px;
    height: 42px;
    padding: 10px;
    font-size: 20px;
    display: none;
}
.plus{
    display: inline-block;
    background-color: rgb(191, 136, 243);
    height: 42px;
    width: 50px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
    justify-content: flex-start;
    border-radius: 50%;
}
.filter-az-hover, .filter-za, .filter-za-hover{
    display: none;
}

.list{
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid rgb(172, 168, 168);
    border-radius: 10px;
    display: none;
    margin-bottom: 20px;
}
li{
    display: flex;
    margin-bottom: 10px;
}
li p{
    margin-top: 10px;
    width: 250px;
}
