@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Dosis', sans-serif;
}
.todo{
    margin: 50px auto;
    width: 336px;
    height: fit-content;
    min-height: 236px;
    border: 1px solid gray;
    border-radius: 10px;
}
.headbg{
    background-color: rgb(234, 234, 13);
    width: 100%;
    height: 25px;
    border-radius: 10px 10px 0 0;
}
h2{
    margin: 10px auto;
    width: fit-content;
}
.filter, .filter-az-hover, .filter-za, .filter-za-hover{
    margin-top: 20px;
    margin-left: 290px;
    margin-bottom: 10px;
    cursor: pointer;
}
.inputdiv{
    width: 90%;
    margin: auto;
    height: 40px;
    border: 1px solid rgb(172, 168, 168);
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    justify-content: baseline;
}
input{
    outline-style: none;
    border: none;
    height: 30px;
    font-size: 20px;
    padding-left: 15px;
    border-radius: 10px;
    font-family: 'Dosis', sans-serif;
    margin-top: -5px;
    margin-right: 45px;
    width: 200px;
}
.list p{
    width: 210px;
    word-wrap: break-word;
}
.delete, .delete-hover{
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}
.delete-hover{
    display: none;
}
button{
    width: 150px;
    height: 42px;
    margin-left:93px;
    margin-bottom: 20px;
    border: none;
    color: white;
    display: flex;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: all 300ms;
}

.filter-az-hover, .filter-za, .filter-za-hover{
    display: none;
}

.list{
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid rgb(172, 168, 168);
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 40px;
}
li{
    display: flex;
    margin-bottom: 10px;
    border: 1px solid rgb(29, 29, 29);
    padding: 0 10px 10px;
    border-radius: 10px;
}
li p{
    margin-top: 10px;
    width: 250px;
}
button{
    justify-content: center;
    align-items: center;
    background-color: #da1884;
    font-size: 18px;
    font-family: 'Dosis';
    letter-spacing: 1px;
}
.drag{
    height: 200px;
    width: 336px;
    border-radius: 20px;
    font-size: 30px;
    background-color: rgb(211, 206, 206);
    color: black;
    padding: 70px 40px;
    margin: 20px auto;
    display: none;
}